---
layout: page
# The Home page layout
---
<!-- Marcus -->
<style>

header
{

    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1529420705456-5c7e04dd043d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f23d7c077ab1f917d774c638d0aefadc&auto=format&fit=crop&w=700&q=80');
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    justify-content: center;
    margin-bottom: 30px;
  }

</style>

<p><center><a href="/assets/img/resume/holtzweb-banner-frames.gif" class="popup img-link"><img data-src="/assets/img/resume/holtzweb-banner-frames.gif" alt="Marcus Holtz" class=" lazyloaded" data-proofer-ignore="" src="/assets/img/resume/holtzweb-banner-frames.gif"></a></center></p>



    <header>
        <h1>Welcome</h1>
        <p>How are you?</p>
    </header>

